doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title Home
    link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.7.2/css/all.css", integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr", crossorigin="anonymous")
    link(rel="stylesheet", href="./home.css")
    script(src="./home_script.js")
  body(onload='main()')
    div.container
      h2 ESP32 DHT Server
      button.stats Statistics 
      p
        i.fas.fa-thermometer-half(style="color:#059e8a;")
        span.dht-labels Temperature: 
        span#temperature #{result}
        sup.units &deg;C
      p
        i.fas.fa-tint(style="color:#00add6;")
        span.dht-labels Humidity: 
        span#humidity %HUMIDITY%
        sup.units &percnt;
